.container{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.panel-body{
	background-image: url("../../img/bar.png");
	background-size: cover;
	min-height: 400px;
}
button.btn{
	text-shadow: 1px 1px 3px #666666;
  	box-shadow: 3px 3px 3px #1f1f1f;
  	font-family: Georgia;
  	color: #000000;
  	font-size: 20px;
  	text-decoration: none;
	background: rgb(210,255,82); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}
.btn-danger {
	font-size: 20px;
	text-shadow: 1px 1px 3px #666666;
  	box-shadow: 3px 3px 3px #1f1f1f;
  	font-family: Georgia;	
  	color: #000000;
  	text-decoration: none;

}