.container{
	min-height: 75%;
	max-width: 80%;
	display: flex;
  	flex-direction: column;
	align-items: center;
    justify-content: center;
}
#buttonGroups{
	display: flex;
	align-items: center;
	justify-content: center; 
}
.row{
	max-width: 50%;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
}
#barName{
	text-align: center;
	color: #ffd700;

}
img{
	position:absolute;
	left:0;
	top:0;
}
html, body {
    margin:0;
    padding:0;
    height:100%;
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
.row{
	padding: 10px;	
}
h2{
	color: white;
}