.container {
	height: calc(100% - 110px);
	display: flex;
	align-items: center;
	justify-content: center;
}
html, body{
	max-width: 100%;
	height: 100vh;
}
.row{
	margin: auto;
}
h1{
	text-align: center;
}
.panel-body{
	background-image: url("../../img/bar-logo.png");
	background-size: cover;
}
button.btn{
	padding-right: 5px;
	text-shadow: 1px 1px 3px #666666;
  	box-shadow: 3px 3px 3px #1f1f1f;
  	font-family: Georgia;
  	color: #000000;
  	font-size: 20px;
  	text-decoration: none;
	background: rgb(210,255,82); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}
.btn-danger {
	font-size: 20px;
	text-shadow: 1px 1px 3px #666666;
  	box-shadow: 3px 3px 3px #1f1f1f;
  	font-family: Georgia;	
  	color: #000000;
  	text-decoration: none;
}
.login-group{
	width: 50%;
	margin: 0 auto;
}
#lg_username, #lg_password{

}